<div>
    <form (ngSubmit)="submitQuote()" #quoteForm="ngForm">
        <div class="form-group">
            <label for="authorName">Enter the authors name:</label>
            <br>
            <input type="text" id="authorName" required class="form-control" [(ngModel)]="newQuote.author"  #author="ngModel" name="author" length="80px">
            
        </div>
        <!--Test to see whether data was successfully receied-->
        
        <div>
            <label for="quote">Enter the quote</label>
            <br>
            <textarea id="quote" maxlength="200px" required [(ngModel)]="newQuote.quote" #quote="ngModel" name="quote"></textarea>
        </div>
        <!--Test below shows whether the textarea works as it should-->
        <div>
            <label for="date">Enter the date</label>
            <br>
            <input type="date" required [(ngModel)]="newQuote.date" name="date" #date="ngModel">
            <br>
        </div>
        <div>
            <label for="name">Enter your name:</label>
            <br>
            <input type="text" id="name" required >
            <div></div>
        </div>
    </form>
    <br>
    <br>
    <div class=" btn btn-success" type="submit">Upload Quote</div>
</div>
<!--Code below displays the available quotes-->
