<div class="col-md-6">
    <form>
        <div>
            <label for="authorName">Enter the authors name:</label>
            <br>
            <input type="text" id="authorName">
        </div>

        <div>
            <label for="quote">Enter the quote</label>
            <br>
            <textarea id="quote" maxlength="200px"></textarea>
        </div>

        <div>
            <label for="name">Enter your name:</label>
            <br>
            <input type="text" id="name">
        </div>
    </form>

</div>
<!--Code below displays the available quotes-->
<div class="col-md-6">


</div>