body{
    background-color: black;
}
#jumbo{
    text-align:center;
    height:2rem;
    font-weight: bolder;
    background-color: darkslategrey;
    color: floralwhite;
}

#cont{
    background-color: burlywood;
}
#form{
    font-size: small;
}